body {
    background-color: rgb(241, 241, 241); 
  }
  
  h1 {
    font-family: montserrat;
    color: black;
    font-size: 82px;
    font-weight: bolder;
    font-style: none;
    text-decoration:overline;
  }

  img {
    width: 100%;
  }

  a:link { text-decoration: none; color: black; }
  a:visited { text-decoration: none; color: black; }
  a:hover { text-decoration: none; color: black; }
  a:active { text-decoration: none; color: black; }

  .center {
    text-align:center;
  }